.container {
  background-color: #faf7eb;
  height: 92vh;
  text-align: center;
}

.welcome {
  padding-top: 100px;
}

.subtext {
  margin-top: 40px;
  font-size: 50px;
}

.button-wrapper {
  margin-top: 150px;
  align-items: center;
  background-color: #faf7eb;
  border: 4px solid #7f0019;
  border-radius: 15px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 150px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}