<div class="flex flex-col items-center justify-center h-full">
  <h1 class="text-3xl mt-10 text-[#7f0019]">Cat Map</h1>
  <br>
  <p>The information provided in the map below is not definite and should not be taken as such.</p>
  <div *ngIf="apiLoaded | async">
    <br>
    <google-map width="990px" height="550px" [options]="options">
      <map-marker #marker="mapMarker" *ngFor="let position of markerPositions" [position]="position" [options]="markerOptions" (mapClick)="openWindow(marker)"></map-marker>
      <map-info-window>
        <div class="max-w-xs" *ngIf="!isLoading; else loading">
          <h1 class="font-bold text-lg">{{ catName }}</h1>
          <a [routerLink]="['/cat', catId]" class="text-[#7f0019] mb-2">More Details</a>
          <img src="{{catImage}}" width="200px" class="mt-2" />
        </div>
        <ng-template #loading>
          <div class="max-w-xs">
            <img src="assets/loading.gif" width="200px" alt="">
          </div>
        </ng-template>
      </map-info-window>
    </google-map>
  </div>
</div>