.navbar-wrapper {
  background-color: #f3efe5;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  padding-left: 60px;
  padding-top: 5px;
}

.navbar-buttons-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-right: 60px;
  width: auto;
}

.navbar-button {
  align-items: center;
  display: flex;
  color: #7f0019;
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-button a {
  text-decoration: none;
  color: #7f0019;
}

.navbar-button a:hover {
  text-decoration: underline;
  transition: 3s ease;
}