<div class="flex flex-col items-center justify-center h-full">
  <div class="text-center p-5">
    <h1 class="text-3xl text-[#7f0019]">Post New Thread</h1>
    <p class="mt-5">Be nice to your fellow forum members. No profanities, please! </p>
  </div>

  <section class="w-11/12">
    <div class="flex flex-col items-center justify-center mx-auto">
        <div class="w-full border border-[#7f0019] rounded-lg shadow md:mt-0 sm:max-w-md md:w-4/5 xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <form class="space-y-4 md:space-y-6" [formGroup]="newThreadForm" (ngSubmit)="addThread()">
                    <div>
                      <label for="title" class="block mb-2 text-md font-medium text-gray-900">Title</label>
                      <input formControlName="title" type="text" name="title" id="title" class="bg-gray-50 border border-[#7f0019] text-gray-900 text-md sm:text-sm rounded-lg focus:ring-[#7f0019] focus:border-[#7f0019] block w-full p-2.5">
                    </div>
                    <div class="mb-6 mt-3">
                      <label for="likes" class="block mb-2 text-md font-medium text-gray-900">Text</label>
                      <textarea formControlName="text" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-[#7f0019] focus:ring-[#7f0019] focus:border-[#7f0019]"></textarea>
                    </div>
                    <button type="submit" class="w-full text-white bg-[#7f0019] font-medium rounded-lg text-md px-5 py-2.5 text-center disabled:bg-gray-200" [disabled]="newThreadForm.invalid">Post</button>
                </form>
            </div>
        </div>
    </div>
  </section>
</div>
